node_modules
dist
package-lock.json
yarn.lock
.vscode

# Keep environment variables out of version control
.env
*key.json

src/shared/database/prisma/generated/prisma
generated/prisma

# Docs
*CURL.md

# seeder
src/shared/database/seed*

# ocr
*traineddata*

# test
scratch_test*
scratch*
